{% extends 'nav.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Maintenance Checklist Detail</h1>
    <hr class="my-2">
    <p class="lead">
        <a class="btn btn-success btn-lg" href="{% url 'maintenanceapp:checklist-update' pk=object.pk%}" role="button">Edit</a>
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-header">
                        <h4 class="card-title">Basic</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Name: {{object.name}}</p>
                        <p class="card-text">Category: {{object.category}}</p>
                        <p class="card-text">Resolver: {{object.resolver}}</p>
                        <p class="card-text">Description: {{object.description}}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Extras</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Start Time: {{object.start_time}}</p>
                        <p class="card-text">Start Date: {{object.start_date}}</p>
                        <p class="card-text">Frequency: {{object.frequency}}</p>
                        <p class="card-text">Duration: {{object.duration}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

{% endblock  %}